<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Oswald:wght@300;400;500;600&family=Rajdhani:wght@400;500;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/feed.css' />
  </head>
  <body>

   <!-- chamando o header -->
  <%- include('./partials/header') %>

  <main>
    
  </main>

  <!-- chamando o footer -->
  <%- include('./partials/footer') %>

  </body>
</html>
