<form method="post">
    <label for="pers_principal">Personagem Principal:</label>
    <select name="pers_principal" id="pers_principal">
        <option value="Brimstone">Brimstone</option>
        <option value="Phoenix">Phoenix</option>
        <option value="Sage">Sage</option>
        <option value="Sova">Sova</option>
        <option value="Neon">Neon</option>
        <option value="Chamber">Chamber</option>
        <option value="Astra">Astra</option>
        <option value="Yoru">Yoru</option>
        <option value="Skye">Skye</option>
        <option value="Kay/0">Kay/0</option>
        <option value="Raze">Raze</option>
        <option value="Jett">Jett</option>
        <option value="Omen">Omen</option>
        <option value="Breach">Breach</option>
        <option value="Killjoy">Killjoy</option>
        <option value="Reyna">Reyna</option>
        <option value="Cyper">Cyper</option>
        <option value="Viper">Viper</option>
    </select>
    <label for="pers_secundario">Personagem Secundário:</label>
    <select name="pers_secundario" id="pers_secundario">
        <option value="Brimstone">Brimstone</option>
        <option value="Phoenix">Phoenix</option>
        <option value="Sage">Sage</option>
        <option value="Sova">Sova</option>
        <option value="Neon">Neon</option>
        <option value="Chamber">Chamber</option>
        <option value="Astra">Astra</option>
        <option value="Yoru">Yoru</option>
        <option value="Skye">Skye</option>
        <option value="Kay/0">Kay/0</option>
        <option value="Raze">Raze</option>
        <option value="Jett">Jett</option>
        <option value="Omen">Omen</option>
        <option value="Breach">Breach</option>
        <option value="Killjoy">Killjoy</option>
        <option value="Reyna">Reyna</option>
        <option value="Cyper">Cyper</option>
        <option value="Viper">Viper</option>
    </select>
    <label for="func_principal">Função Principal:</label>
    <select name="func_principal" id="func_principal">
        <option value="Iniciador">Iniciador</option>
        <option value="Duelista">Duelista</option>
        <option value="Controlador">Controlador</option>
        <option value="Sentinela">Sentinela</option>
    </select>
    <label for="func_secundaria">Função Secundária:</label>
    <select name="func_secundaria" id="func_secundaria">
        <option value="Iniciador">Iniciador</option>
        <option value="Duelista">Duelista</option>
        <option value="Controlador">Controlador</option>
        <option value="Sentinela">Sentinela</option>
    </select>
    <label for="elo">Elo Atual:</label>
    <select name="elo" id="elo">
        <option value="Ferro">Ferro</option>
        <option value="Bronze">Bronze</option>
        <option value="Prata">Prata</option>
        <option value="Ouro">Ouro</option>
        <option value="Platina">Platina</option>
        <option value="Diamante">Diamante</option>
        <option value="Imortal">Imortal</option>
        <option value="Radiante">Radiante</option>
    </select>

    <button type="submit">enviar</button>
</form>