<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
<body>

    <div class="d-flex justify-content-between">
          <div>
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          </div>

          <div>
            <form>
                <div class="mb-3">
                  <label for="nomeUsuario" class="form-label">Nome de Usuário</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
                <div class="mb-3">
                  <label for="senha" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="senha">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Manter-me conectado</label>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
              </form>
          </div>
      </div>  
</body>
</html>